@{
    ViewData["Title"] = "Contact Page";
}

<body>
    <div class="text-center" , style="background-color: lightslategray;">
        <h1 class="display-4" , style="color:white;">Contact Us</h1>
    </div>


    <h4>
        Student's Contact Details:
    </h4>
    <dl>
        <dt>Mobile Number:</dt>
        <dd>+61 478 524 198</dd>
        <dt>Email Address:</dt>
        <dd>laxmi.gurung2@live.vu.edu.au</dd>
    </dl>
</body>